body {
    background-color:rgb(4.3, 3.5, 39.2);
    color: white;
    text-align: center;
    font-size: 50px;
}
h1 {
    font-family: monospace;
    font-size: 100%;
    text-align: center;
    padding: 3%;
}
p {
    font-size: 60%;
}
footer {
    position: fixed;
    font-size: 30%;
    color: white;
    bottom: 0;
    right: 0;
    left: 0;
    padding-bottom: 0.5%;
}
